
<div class="request" *ngFor="let requestInfo of requestsInfo">
  <div class="request__info">
    <p class="request__static-text">
      Request
      <span class="request__info-text">#{{requestInfo.requestId}}</span>
    </p>
    <p class="request__static-text">
      Room
      <span class="request__info-text">#{{requestInfo.roomNumber}}</span>
    </p>
    <p class="request__static-text">
      Status - 
      <span class="request__info-text">{{RequestStatus[requestInfo.status]}}</span>
    </p>
    <p class="request__static-text">
      RequestOwner -
      <span class="request__info-text">{{requestInfo.requestOwner}}</span>
    </p>
    <p class="request__static-text">
      Open at 
      <span class="request__info-text">{{requestInfo.openDate | date:'short'}}</span>
    </p>
    <button class="request__button" (click)="showMore(requestInfo.requestId)">Show more</button>
  </div>
  <div class="request__last-comment" *ngIf="requestInfo.commentOwner">
    <p class="request__last-comment-title">
      Last comment from
      <span class="request__info-text">{{requestInfo.commentOwner}}</span>
      at
      <span class="request__info-text">{{requestInfo.postDate | date:'short'}}</span></p>
    <p class="request__last-comment-text">{{requestInfo.text}}</p>
  </div>
</div>
  