<div class="buttons">
  <button *ngIf="roomNumber" class="button" (click)="backToRoom()">Back to room #{{roomNumber}}</button>
  <button *ngIf="floorNumber" class="button" (click)="backToFloor()">Back to floor #{{floorNumber}}</button>
  <button *ngIf="!roomNumber" class="button" (click)="backToAllRequests()">Back to all requests</button>
</div>  
<div class="request" >
  <div class="request__info">
    <p class="request__static-text">
      Request 
      <span class="request__info-text">#{{requestInfo.id}}</span>
    </p>
    <p class="request__static-text">
      Status - 
      <span class="request__info-text">{{requestInfo.status | requestStatus}}</span>
    </p>
    <p class="request__static-text">
      Request Owner - 
      <span class="request__info-text">{{requestInfo.requestOwner}}</span>
    </p>
    <p class="request__static-text">Open at 
      <span class="request__info-text">{{requestInfo.openDate | date:'short'}}</span>
    </p>
    <button class="request__button" (click)="closeRequest()">Close Request</button>
  </div>
  <div class="request__comments comments">
    <div class="comments__comment-form comment-form">
      <textarea [formControl]="newComment" class="comment-form__text"></textarea>
      <p class="comment-form__title">Post comment as:</p>
      <div class="comment-form__buttons" *ngIf="requestInfo.status === 2 || requestInfo.status === 3">
        <button class="button" (click)="changeStatusWithComment(0)">Reopen</button>
        <button class="button" (click)="changeStatusWithComment(requestInfo.status)">Without status</button>      
      </div>
      <div class="comment-form__buttons" *ngIf="requestInfo.status !== 2 && requestInfo.status !== 3">
          <button class="button" (click)="changeStatusWithComment(requestInfo.status)">Without status</button>      
      </div>
    </div>
    <div class="comments__comment comment" *ngFor="let comment of requestInfo.comments">
      <p class="comment__title-text">Posted by <b class="comment__title-info">{{comment.commentOwner}}</b> at <b class="comment__title-info">{{comment.postDate | date:'short'}}</b></p>
      <p class="comment__text">{{comment.text}}</p>
    </div>
  </div>
</div>
