<div class="buttons">
  <button *ngIf="roomNumber" class="button" (click)="backToRoom()">Back to room #{{roomNumber}}</button>
  <button *ngIf="floorNumber" class="button" (click)="backToFloor()">Back to floor #{{floorNumber}}</button>
  <button *ngIf="!roomNumber" class="button" (click)="backToAllRequests()">Back to all requests</button>
</div>  
<div class="request" >
  <div class="request__info">
    <p class="request__static-text">
      Request 
      <span class="request__info-text">#{{requestInfo.id}}</span>
    </p>
    <p class="request__static-text">
      Status - 
      <span class="request__info-text">{{RequestStatus[requestInfo.status]}}</span>
    </p>
    <p class="request__static-text">
      Request Owner - 
      <span class="request__info-text">{{requestInfo.requestOwner}}</span>
    </p>
    <p class="request__static-text">Open at 
      <span class="request__info-text">{{requestInfo.openDate | date:'short'}}</span>
    </p>
  </div>
  <div class="request__comments comments">
    <div class="comments__comment-form comment-form">
      <textarea #newCommentEl [formControl]="newComment" class="comment-form__text"></textarea>
      <p class="comment-form__title">Post comment as:</p>
      <div class="comment-form__buttons" *ngIf="requestInfo.status === RequestStatus.Opened">
        <button class="button" (click)="changeStatusWithComment(RequestStatus.Accepted)">Accept</button>
        <button class="button" (click)="changeStatusWithComment(RequestStatus.Rejected)">Reject</button>
        <button class="button" (click)="changeStatusWithComment(requestInfo.status)">Without status</button>      
      </div>
      <div class="comment-form__buttons" *ngIf="requestInfo.status === RequestStatus.Accepted">
          <button class="button" (click)="changeStatusWithComment(RequestStatus.Done)">Done</button>
          <button class="button" (click)="changeStatusWithComment(RequestStatus.Rejected)">Reject</button>
          <button class="button" (click)="changeStatusWithComment(requestInfo.status)">Without status</button>      
      </div>
      <div class="comment-form__buttons" *ngIf="requestInfo.status !== RequestStatus.Opened && requestInfo.status !== RequestStatus.Accepted">
          <button class="button" (click)="changeStatusWithComment(requestInfo.status)">Without status</button>      
      </div>
    </div>
    <div class="comments__comment comment" *ngFor="let comment of requestInfo.comments">
      <p class="comment__title-text">
        Posted by 
        <span class="comment__title-info">{{comment.commentOwner}}</span> 
        at 
        <span class="comment__title-info">{{comment.postDate | date:'short'}}</span>
      </p>
      <p class="comment__text">{{comment.text}}</p>
    </div>
  </div>
</div>
