<p class="floor-number">
  Floor #{{floorNumber}}
</p>
<button class="back-button" (click)="backToOffice()">Back to office</button>
<div class="floor-area">
  <div class="floor-area__floor floor">
    <div class="floor__rooms rooms rooms_top-part">
      <div class="rooms__room room" *ngFor="let room of roomsTopPart">
        <span class="room__number">{{room.number}}</span>
        <button class="room__button" *ngIf="room.requestCount > 0" (click)="showRequests(room)">
          Show all {{room.requestCount}} requests
        </button>
        <button class="room__button" (click)="openRequest(room)">
          Open request
        </button>
      </div>
    </div>
    <div class="floor__hall"></div>
    <div class="floor__rooms rooms rooms_bottom-part">
      <div class="rooms__room room" *ngFor="let room of roomsBottomPart">
        <span class="room__number">{{room.number}}</span>
        <button class="room__button" *ngIf="room.requestCount > 0" (click)="showRequests(room)">
          Show all {{room.requestCount}} requests
        </button>
        <button class="room__button" (click)="openRequest(room)">
          Open request
        </button>
      </div>
    </div>
  </div>
</div>
