
<div class="request" *ngFor="let requestInfo of requestsInfo;trackBy:trackByRequestId">
    <div class="request__info">
      <p class="request__title">
        Request 
        <span class="request__value">#{{requestInfo.requestId}}</span>
      </p>
      <p class="request__title">
        Room 
        <span class="request__value">#{{requestInfo.roomNumber}}</span>
      </p>
      <p class="request__title">
        Status - 
        <span class="request__value">{{RequestStatus[requestInfo.status]}}</span>
      </p>
      <p class="request__title">
        RequestOwner - 
        <span class="request__value">{{requestInfo.requestOwner}}</span>
      </p>
      <p class="request__title">
        Open at 
        <span class="request__value">{{requestInfo.openDate | date:'short'}}</span>
      </p>
      <button class="request__button" (click)="showMore(requestInfo.requestId)">Show more</button>
      <button class="request__button" (click)="closeRequest(requestInfo.requestId)">Close Request</button>
    </div>
    <div class="request__last-comment" *ngIf="requestInfo.commentOwner">
      <p class="request__last-comment-title">
        Last comment from 
        <span class="request__value">{{requestInfo.commentOwner}}</span>
        at <span class="request__value">{{requestInfo.postDate | date:'short'}}</span>
      </p>
      <p class="request__last-comment-text">{{requestInfo.text}}</p>
    </div>
  </div>
    